<?xml version="1.0" encoding="UTF-8" ?>

<widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id="com.Derek.BusTracker"
        version="1.2">
	<name>Bus Tracker</name>
	<description>MTD Bus Tracker</description>
	<author href="http://derek1906.site50.net">
        Derek Leung
    </author>

    <icon src="icon.png" />

    <preference name="http://api.phonegap.com/1.0/geolocation"/>
    <preference name="http://api.phonegap.com/1.0/network"/>

    <access origin="*" />

    <gap:platform name="android" />

</widget>